table tr, td, th{
    border: 1px grey groove;
    width: 1%;
}

.centered-text{
    text-align: center;
}

.red-text{
    color: red;
}

.centered-margin{
    margin-left: auto;
    margin-right: auto;
}

.starting-margin{
    margin-top: 50px;
}

.login-container{
    width: 300px;
    height: 200px;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.login-input{
    width: 200px;
    height: 30px;
    display: block;
}

.login-input-submit{
    width: 204px;
}

.add-container{
    width: 600px;
    height: 166px;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
}

.add-input{
    width: 500px;
    height: 30px;
    display: block;
}

.add-input-submit{
    width: 504px;
}