
body{
    background-image:url("../background/autumn.jpg");
    background-size: 100%;
    font-family: Verdana, sans-serif;
    color: black;
}

body a{
    color: red;
    font-weight: bold;	
}

body a:hover{
    color: magenta;
}

table tr, td, th{

    border: 2px red groove;

    width: 1%;

}

table{

    border-collapse: collapse;
}



.centered-text{

    text-align: center;

}



.centered-text th{

    background-color: red;

}



.red-text{

    color: red;

}



.centered-margin{

    margin-left: auto;

    margin-right: auto;

}



.starting-margin{

    margin-top: 50px;

}



.login-container{

    width: 300px;

    height: 200px;

    border: 2px red solid;

    margin-left: auto;

    margin-right: auto;

    margin-top: 250px;

}



.login-input{

    width: 200px;

    height: 30px;

    display: block;

}



.login-input-submit{

    width: 204px;

}

.pagination-container{
	margin-top: 50px;
}



.add-container{

    width: 600px;

    height: 166px;

    border: 2px red solid;
    margin-left: auto;

    margin-right: auto;

    margin-top: 225px;

}



.add-input{

    width: 500px;

    height: 30px;

    display: block;

}



.add-input-submit{

    width: 504px;

    display: block;

}

input[type=text] {
    width: 85%;
    color: red;
}

input[type=password] {
    width: 85%;
    color: red;
}

input[type=submit] {
    width: 85%;
    background-color: red;
    color: white;
    margin-top: 25px;
    cursor: pointer;
    font-weight: bold;
}